[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
ratelimit = "*"
openai = "==0.28"
yandex-translater = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
